<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Product List:</h1>
    <ul>
        {{#each products}}
        <li>Product name: {{this.title}} - Price: $ {{this.price}} - Description: {{this.description}} - id number: {{this.id}}</li>
        {{/each}}
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>